#contact {
  .app__wrapper {
    padding: 0;

    // .copyright {
    //   display: none;
    // }
  }
  h2 {
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 5rem;
    margin-bottom: -3rem;
    font-family: var(--font-kelly);
    font-size: 25pt;
  }
}

.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
    z-index:1;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
    .app__footers {
display: flex;
      width: 100%;
      flex-direction: column;
      z-index: 1;
      justify-content: center;
        align-items: center;
    
  
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  
  .app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 2rem 2rem;
  
    .app__footer-card {
      min-width: 290px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
  
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      background-color: var(--mild_rose-color);
  
  
      transition: all 0.3s ease-in-out;
  
      img {
        width: 40px;
        height: 40px;
        margin: 0 0.7rem;
      }
  
      p {
        font-weight: 500;
      }
      a {
        text-decoration: none;
        font-weight: 500;
      }
      &:hover {
        box-shadow: 0 0 10px var(--mild_rose-color);
      }
  
      @media screen and (max-width: 450px) {
        width: 100%;
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  
  // .app__footer-cards .app__footer-card:last-child {
  //   background-color:var(--mild_rose-color);
  // }
  
  // .app__footer-cards .app__footer-card:last-child:hover {
  //   box-shadow: 0 0 25px var(--mild_rose-color);
  // }
  
  .app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;
  
    div {
      width: 100%;
  
      margin: 0.75rem 0;
      border-radius: 10px;
      cursor: pointer;
      // background-color: var(--plix-color);
  
      transition: all 0.3s ease-in-out;
  
      input,
      textarea {
        width: 100%;
        padding: 0.95rem;
        border: none;
        border-radius: 7px;
        background-color: var(--lightGray-color);
        font-family: var(--font-kelly);
        font-size: 12pt;
        color: var(--black-color);
        outline: none;
      }
  
      textarea {
        height: 170px;
      }
  
      &:hover {
        box-shadow: 0 0 10px var(--mild_rose-color);
      }
    }
  
    button {
      padding: 1rem 2rem;
      border-radius: 10px;
      border: none;
      background-color: var(--secondary-color);
  
      font-weight: 500;
      color: var(--white-color);
      outline: none;
      margin: 2rem 0 0 0;
      font-family: var(--font-kelly);
      font-size: 10pt;
  
      transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
      cursor: pointer;
  
      &:hover {
        box-shadow: 0 0 15px var(--white-color);
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 1rem 0;
    }
  }
a.app__social {
  transition: transform 250ms;
  z-index: 1;
  display: flex;
  flex-direction: row;
  
}

.app__social:hover {
  transform: translateY(-2px);
}

a.github:hover {
  border-radius: 50%;
  background-color: var(--black-color);
  border-color: var(--black-color);
}

a.linkedin:hover {
  border-radius: 50%;
  background-color: #0072b1;
  border-color: #0072b1;
}

a.twitter:hover {
  border-radius: 50%;
  background-color: #1D9BF0;
  border-color: #1D9BF0;
}

a.instagram:hover {
  border-radius: 50%;
  background-color: #FD1D1D;
  border-color: #FD1D1D;
}

a.facebook:hover {
  border-radius: 50%;
  background-color: #0165E1;
  border-color: #0165E1;

}

.app__contacts{
  display: flex;
    flex-direction: row;
      align-content: space-between;
    width:100%;
}