#home {
    position: relative;
    background-image: url("../../assets/developer.jpg");
    background-size: auto;
    background-repeat: repeat;
   

    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1f1e1e17;
        background-image: url("../../assets/radio_noise.png");
        z-index: 5;
        overflow: hidden;
        display: none;
      }

    .layer{
      position: relative;
      width: 100%;
      height: 120%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.3s ease-out;
    }
    .layer img{
      position: absolute;
      top: 0;
      left: 0;
      width: 85%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      justify-content: center;
        align-items: center;
        opacity: 0.7;
    }


           
    .app__wrapper {
      padding: 0;

      .copyright {
        display: none;
      }
    }

    .navDots {
      display: none;
    }

    .socialMedia {
      display: none;
    }
  }

  .app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;  
    padding: 6rem 2rem 0rem;
  }
  
  .app__header-info {
    display: flex;
    flex-direction: column;
    height: 80%;
    position: absolute;
    // z-index: 10;
  }
  
  .app__header-badge {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  
    .name{
      position: relative;
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, #bcbcbc, #797979);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      //TODO: Edit ADELE CHINDA here
  
      p {
        width: auto;
        text-align: center;
        font-size: 50pt;
        font-weight: normal;
        color: white;
        text-size-adjust: 100%;
        font-family: var(--font-kelly);

      }

      @media screen and (max-width: 500px) {
        p {
          font-size: 30pt;
  
        }
      }
    }
 
    .title {
        //TODO: Edit AI DEV here
      p {
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 25pt;
        font-weight: normal;
        color: #A0CFEE;
        text-size-adjust: 100%;
        font-family: var(--font-kelly);

      }

      @media screen and (max-width: 500px)  {
     p {
          font-size: 15pt;
        }
      }
    }
  
    span {
      font-size: 2.5rem;
  
      @media screen and (min-width: 2000px) {
        font-size: 5rem;
      }
    }
  }


  .app__header-img {
    
    .profile_circle {
      
      width: 250px;
      height: 250px;
      border-radius: 100%;
      box-shadow: 0 2px 10px 0 black;
      // mix-blend-mode: hard-light;
    }
    @media screen and (max-width: 500px) {
      width: auto;
      height: auto;
    }
  }

  
  