#experience {
    .app__wrapper {
      padding: 0;
  
      .copyright {
        display: none;
      }
    }
  }
  .app__experience {
      flex: 1;
      width: 100%;
      flex-direction: column;
    }
    
    .app__experience-item {
      width: 60%;
      min-height: 320px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: row;
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
      margin: 7rem 0 2rem;
      transition: all 0.3s ease-in-out;
    
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: contain;
        background-color: white;
      }
    
      @media screen and (min-width: 2000px) {
        min-height: 450px;
    
        img {
          width: 150px;
          height: 150px;
        }
      }
    
      @media screen and (max-width: 850px) {
        width: 100%;
      }
    
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    
    .app__experience-content {
      flex: 1;
      height: 100%;
      padding: 0 2rem;
      text-align: left;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    
      p {
        font-size: 1.25rem;
        line-height: 2rem;
        color: var(--white-color);
        font-family: var(--font-base);
    
        @media screen and (min-width: 2000px) {
          font-size: 2rem;
          line-height: 3.5rem;
        }
      }
    
      h4 {
        font-weight: 600;
        color: var(--secondary-color);
        margin-top: 2rem;
      }
    
      h5 {
        font-weight: 400;
        color: var(--white-color);
        margin-top: 5px;
      }

      h6 {
        font-weight: 700;
        color: var(--black-color);
        margin-top: 5px;
      }
      h7 {
        font-size: 8pt;
        color: var(--white-color);
        margin-top: 2px;
        margin-bottom: 2px;
      }
      .app__projects-tag {
        position: absolute;
        margin-top: 12rem;
        display: flex;
        flex-direction: row;
      }
      .app__projects-tag0 {
        display: flex;
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
      .app__projects-tag1 {
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .app__projects-tag2 {
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

    
      @media screen and (max-width: 600px) {
        margin-top: 2rem;
        padding: 0;
      }
    }
    
    .app__experience-btns {
      flex-direction: row;
      margin-top: 1rem;
    
      div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white-color);
    
        margin: 1rem;
        transition: all 0.3s ease-in-out;
    
        svg {
          width: 20px;
          height: 20px;
          color: var(--plix-color);
        }
    
        &:hover {
          background-color: var(--secondary-color);
    
          svg {
            color: var(--white-color);
          }
        }
    
        @media screen and (min-width: 2000px) {
          width: 100px;
          height: 100px;
    
          svg {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
    