#experience { 
    .app__wrapper {
      padding: 0;
  
      .copyright {
        display: none;
      }
    }
    h2 {
      font-weight: 400;
      color: var(--secondary-color);
      margin-top: 2rem;
      margin-bottom: -4rem;
      font-family: var(--font-kelly);
      font-size: 25pt;
    }
  }

  .app__experience {
      flex: 1;
      width: 100%;
      flex-direction: column;
      z-index: 1;
    }
    
    .app__experience-item {
      width: 75%;
      min-height: 320px;
background:linear-gradient(to right, var(--starter-brown-color), var(--finisher-brown-color));    
display: flex;
      flex-direction: row;
      padding: 2rem;
      border-radius: 25px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
      margin: 5rem 0 2rem;
      border-left: 2rem;
      border-right: 2rem;
      transition: all 0.3s ease-in-out;
    
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: scale-down;
        background-color: white;
      }
    
      @media screen and (min-width: 2000px) {
        min-height: 450px;
    
        img {
          width: 150px;
          height: 150px;
        }
      }
    
      @media screen and (max-width: 500px) {
        width: 85%;
      }
    
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    
    .app__experience-content {
      flex: 1;
      height: 100%;
      padding: 0 2rem;
      text-align: left;
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    
      p {
        font-weight: 600;
        font-size: 16pt;
        line-height: 2rem;
        color: var(--white-color);
        font-family: var(--font-saira);
    
        @media screen and (min-width: 2000px) {
          font-size: 2rem;
          line-height: 3.5rem;
        }
      }
    
      h4 {
        font-weight: 400;
        color: var(--white-color);
        margin-top: 2rem;
        font-family: var(--font-kelly);
        font-size: 15pt;
      }
    
      h5 {
        font-weight: 400;
        color: var(--white-color);
        margin-top: 5px;
      }

      h6 {
        font-weight: 500;
        color: var(--secondary-color);
        margin-top: 5px;
        font-size: 12pt;
        font-family: var(--font-base);
      }
      h7 {
        font-size: 8pt;
        color: var(--white-color);
        margin-top: 2px;
        margin-bottom: 2px;
      }
      .app__projects-tag {
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        
      }
      .app__projects-tag0 {
        display: flex;
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
      .app__projects-tag1 {
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      .app__projects-tag2 {
        position: relative;
        padding: 0rem 1rem;
        border-radius: 5px;
        border-color: var(--secondary-color);
        border-width: 1.5px;     
        border-style: solid;
        background-color: var(--main-color);
        text-align: center;
        margin-right: 8px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

    
      @media screen and (max-width: 600px) {
        margin-top: 2rem;
        padding: 0;
      }
    }
    
    .app__experience-btns {
      flex-direction: row;
      margin-top: 1rem;
    
      div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white-color);
    
        margin: 1rem;
        transition: all 0.3s ease-in-out;
    
        svg {
          width: 20px;
          height: 20px;
          color: var(--starter-brown-color);
        }
    
        &:hover {
          background-color: var(--starter-brown-color);
    
          svg {
            color: var(--white-color);
          }
        }
    
        @media screen and (min-width: 2000px) {
          width: 100px;
          height: 100px;
    
          svg {
            width: 45px;
            height: 45px;
          }
        }
      }
    }
    